/* Layout styles */

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
}
.column {
	flex-grow: 1;
	max-width: 50%;
}
#categories {
	border-right: 3px solid black;
}
#votehalf {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
}
.row {
	flex-grow: 1;
}
#currentvote {
	border-bottom: 1px solid black;
	flex-grow: 2;
}

h1 {
	text-align: center;
}

/* Category code */

.category > :first-child {
	border-top: 1px solid black;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	margin-top: 1em;
	font-size: 1em;
	background: black;
	color: white;
}
.category > * {
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 0 1em;
	padding: 0.5em;
}
.category::after {
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin: 0 1em;
	padding: 0.5em;
	padding-top: 0;
	content: "";
	display: block;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	margin-bottom: 1em;
}

/* Button styles */

button.button {
	--border-color: orange;
	--bg-color: orangered;
	--icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+Cgk8cGF0aCBkPSJNIDEgMSBMIDkgOSBNIDEgOSBMIDkgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIGZpbGw9Im5vbmUiIC8+Cjwvc3ZnPg==);
	border: 2px solid var(--border-color);
	background: var(--icon) no-repeat center center, var(--bg-color);
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: 0;
	margin: 0.1em;
	color: black;
}
button.button:active {
	border: 2px solid var(--bg-color);
	background: var(--icon) no-repeat center center, var(--border-color);
}



button.new-big-btn {
	width: auto;
	height: auto;
	padding: 0.3em;
	--bg-color: lime;
	--border-color: green;
	--icon: none;
}
button.new-big-btn.btnred {
	--bg-color: orange;
	--border-color: red;
}
#categories > div > button {
	margin-left: 2em;
}

/* Vote styles */

.vote-button-container {
	display: flex;
}
.vote-button {
	background: black;
	color: white;
	margin: 1em;
	padding: 1em;
	flex-grow: 1;
}
.vote-button-yes {
	background: green;
}
.vote-button-no {
	background: red;
}
.vote-button-finish {
	background: blue;
}

.player {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	border: 1px solid black;
	border-radius: 1em;
}
.player.player-ready {
	border-color: blue;
	border-width: 3px;
}
.player.player-vote-true {
	background: lime;
}
.player.player-vote-false {
	background: red;
}